*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo_div{
    height: 40px;
    width: 40px;
    margin-right: 15px;
}
.logo_div img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    
}
.card-title{
    background: rgb(250, 207, 207);
    width: 100%;
    padding: 2px;
    border-radius: 15px;
    text-align: center;
    color: rgb(184, 74, 74);
}
.profile_img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.profile_img img{
    width: 100%;
   height: 100%;
}